*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body{
    background-color: #25292E;
}

.titulo{
    color: #A6FA62;
    font-style: italic;
}

.pg{
    color: #A6FA62;
}

header h1{
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    font-size: 100px;
    background-color: #070709;
}

nav{
    background-color: #0F0F15;
    text-align: end;
    border-radius: 0 0 10px 10px;
}

nav ul li{
    display: inline-flex;
    margin-left: -5px;
}

nav ul a{
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
}

nav ul li a:hover{
    color: #A6FA62;
    font-style: italic;
}

article{
    text-align: justify;
    background-color: #0F0F15;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

article ul{
    margin-top: 10px;
}

article ul li{
    margin-top: 30px;
    margin-left: 20px;
}

article ul p a:hover{
    font-weight: bold;
    text-decoration: none;
}

footer{
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius:10px 0 0 0;
    background-color: #070709;
    text-align: center;
}

.index{
    background-image: url('../img/inicio.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35px;
}

.aulas{
    background-image: url('../img/aulas.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35px;
}

.referencia{
    font-size: .5em;
}